/* This CSS is for the parameters table */
table.blueTable {
  border: 5px solid #1c6ea4;
  background-color: #eeeeee;
  width: 100%;
  text-align: left;
  table-layout: fixed;
}
table.blueTable td,
table.blueTable th {
  /* border: 1px solid #030303; */
  padding: 2px 2px;
}
table.blueTable tbody td {
  font-size: 16px;
}
table.blueTable tfoot td {
  font-size: 14px;
}
table.blueTable tfoot .links {
  text-align: right;
}
table.blueTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* This CSS is for the results table */
table.greyTable {
  border: 5px solid #1c6ea4;
  background-color: #c8c8c8;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.greyTable td,
table.greyTable th {
  /* border: 1px solid #030303; */
  padding: 2px 2px;
}
table.greyTable tbody td {
  font-size: 16px;
}
table.greyTable tfoot td {
  font-size: 14px;
}
table.greyTable tfoot .links {
  text-align: right;
}
table.greyTable tfoot .links a {
  display: inline-block;
  background: #1c6ea4;
  color: #ffffff;
  padding: 2px 8px;
  border-radius: 5px;
}

/* This CSS is for the results field within results table */
table.darkGreyTable {
  /* border: 5px solid #1c6ea4; */
  border: 0;
  background-color: #a5a5a5;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

/* This CSS is for the buttons */
button.blueButton {
  box-shadow: inset 0px 1px 0px 0px #54a3f7;
  background: linear-gradient(to bottom, #007dc1 5%, #0061a7 100%);
  background-color: #007dc1;
  border-radius: 3px;
  border: 1px solid #124d77;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 13px;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #154682;
}
button.blueButton:hover {
  background: linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
  background-color: #0061a7;
}
button.blueButton:active {
  position: relative;
  top: 1px;
}
