<!doctype html>
<html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DNDQC1YRBV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-DNDQC1YRBV');
    </script>

    <!-- Google Sign-in -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id"
      content="893974452758-3kri5mk29j09q273ftqs0r1kdoh8gifi.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <title>{{ .title }}</title>
    <link href="../static/stylesheets/vdicalc.css" rel="stylesheet" type="text/css" />
  </head>

  <body class="html">

    <div class="container-fluid">
      <!-- Google Sign-in -->
      <div align="right" class="g-signin2 d-print-none" data-onsuccess="onSignIn" data-theme="dark" data-longtitle="true"></div>
      <!-- Google Sign-out -->
      <div align="right" class="d-print-none"><a href="#" onclick="signOut();">Sign out</a></div>
    </div>
    <script>
      function onSignIn(googleUser) {

        var id_token = googleUser.getAuthResponse().id_token;

        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ .authaddress }}" + '/tokensignin?id_token=' + id_token);
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send('idtoken=' + id_token + "&method=google");
      }
    </script>
    <!-- Google Sign-out -->
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut();

        var xhr = new XMLHttpRequest();
        xhr.open('POST', "{{ .authaddress }}" + '/tokensignoff');
        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
        xhr.send();
      }
    </script>

    <div class="container-fluid">
      <p class="display-4" style="text-align: center;">{{ .title }}</p>
      <p class="lead" style="text-align: center;">{{ .titlesub }}</p>
    </div>

    <br>

    <div class="container-fluid">
      <form method="POST" action="/">

        <input type="hidden" name="submitselect" value="" id="submitselect">

        <div class="container-fluid container-input form-group">

          <div class="row top-buffer d-print-none">
            <div class="col">
              <label class="col-form-label">{{ .vmprofilelabel }}</label>

              <select class="form-control form-control-sm dropdown-addon" id="vmprofile" name="vmprofile"
                onchange="document.getElementById('submitselect').value='vmprofile';this.form.submit()">
                {{range $key, $value := .vmprofile}}
                <option value="{{ $value }}" {{ if (eq $value $.vmprofileselected) }}selected{{ end }}>{{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
          <br>

          <div class="row top-buffer">
            <div class="col">
              <label class="col-form-label" for="vmcount">{{ .vmcountlabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmcount" name="vmcount" maxlength="5"
                value="{{ .vmcountselected }}" />
            </div>
            <div class="col">
              <label class="col-form-label">{{ .vmvcpucountlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="vmvcpucount"
                name="vmvcpucount">
                {{range $key, $value := .vmvcpucount}}
                <option value="{{ $value }}" {{ if (eq $value $.vmvcpucountselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col">
              <label class="col-form-label" for="vmvcpumhz">{{ .vmvcpumhzlabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmvcpumhz" name="vmvcpumhz" data-toggle="tooltip"
                title='{{ .vmvcpumhztooltip }}' maxlength="5" value="{{ .vmvcpumhzselected }}" />
            </div>
          </div>

          <div class="row top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .vmpercorecountlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="vmpercorecount"
                name="vmpercorecount">
                {{range $key, $value := .vmpercorecount}}
                <option value="{{ $value }}" {{ if (eq $value $.vmpercorecountselected) }}selected{{ end }}>{{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .vmvideoramlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="vmvideoram"
                name="vmvideoram">
                {{range $key, $value := .vmvideoram}}
                <option value="{{ $value }}" {{ if (eq $value $.vmvideoramselected) }}selected{{ end }}>{{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col">
              <label class="col-form-label" for="vmdisksize">{{ .vmdisksizelabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmdisksize" name="vmdisksize" maxlength="4"
                value="{{ .vmdisksizeselected }}" />
            </div>
          </div>

          <div class="row top-buffer">
            <div class="col">
              <label class="col-form-label" for="vmmemorysize">{{ .vmmemorysizelabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmmemorysize" name="vmmemorysize" maxlength="7"
                value="{{ .vmmemorysizeselected }}" />
            </div>
            <div class="col">
              <label class="col-form-label">{{ .vmdisplaycountlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="vmdisplaycount"
                name="vmdisplaycount">
                {{range $key, $value := .vmdisplaycount}}
                <option value="{{ $value }}" {{ if (eq $value $.vmdisplaycountselected) }}selected{{ end }}>{{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .vmdisplayresolutionlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="vmdisplayresolution"
                name="vmdisplayresolution" data-toggle="tooltip" title='{{ .vmdisplayresolutiontooltip }}'>
                {{range $key, $value := .vmdisplayresolution}}
                <option value="{{ $value }}" {{ if (eq $value $.vmdisplayresolutionselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>
          </div>

          <div class="row top-buffer bottom-buffer">
            <div class="col">
              <label class="col-form-label" for="vmiopscount">{{ .vmiopscountlabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmiopscount" name="vmiopscount" data-toggle="tooltip"
                title='{{ .vmiopscounttooltip }}' maxlength="3" value="{{ .vmiopscountselected }}" />
            </div>
            <div class="col">
              <label class="col-form-label" for="vmiopsreadratio">{{ .vmiopsreadratiolabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmiopsreadratio" name="vmiopsreadratio" data-toggle="tooltip"
                title='{{ .vmiopsreadratiotooltip }}' maxlength="3" value="{{ .vmiopsreadratioselected }}" />
            </div>
            <div class="col">
              <label class="col-form-label">{{ .vmclonesizerefreshratelabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="vmclonesizerefreshrate"
                name="vmclonesizerefreshrate" data-toggle="tooltip" title='{{ .vmclonesizerefreshratetooltip }}'>
                {{range $key, $value := .vmclonesizerefreshrate}}
                <option value="{{ $value }}" {{ if (eq $value $.vmclonesizerefreshrateselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>
          </div>

          <div class="row top-buffer bottom-buffer">
            <div class="col">
              <label class="col-form-label" for="vmiopsbootcount">{{ .vmiopsbootcountlabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmiopsbootcount" name="vmiopsbootcount" data-toggle="tooltip"
                title='{{ .vmiopsbootcounttooltip }}' maxlength="3" value="{{ .vmiopsbootcountselected }}" />
            </div>
            <div class="col">
              <label class="col-form-label" for="vmiopsbootreadratio">{{ .vmiopsbootreadratiolabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="vmiopsbootreadratio" name="vmiopsbootreadratio" data-toggle="tooltip"
                title='{{ .vmiopsbootreadratiotooltip }}' maxlength="3" value="{{ .vmiopsbootreadratioselected }}" />
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>

        </div>

        <p style="display:inline" class="lead">Host</p>

        <div class="container-fluid container-input form-group">
          <div class="row top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .hostsocketcountlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="hostsocketcount"
                name="hostsocketcount">
                {{range $key, $value := .hostsocketcount}}
                <option value="{{ $value }}" {{ if (eq $value $.hostsocketcountselected) }}selected{{ end }}>{{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col">
              <label class="col-form-label" for="hostmemoryoverhead">{{ .hostmemoryoverheadlabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="hostmemoryoverhead" name="hostmemoryoverhead"
                data-toggle="tooltip" title='{{ .hostmemoryoverheadtooltip }}' maxlength="3"
                value="{{ .hostmemoryoverheadselected }}" />
            </div>
          </div>

          <div class="row top-buffer bottom-buffer">
            <div class="col">
              <label class="col-form-label">{{ .hostsocketcorescountlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="hostsocketcorescount"
                name="hostsocketcorescount">
                {{range $key, $value := .hostsocketcorescount}}
                <option value="{{ $value }}" {{ if (eq $value $.hostsocketcorescountselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col">
              <label class="col-form-label" for="hostcoresoverhead">{{ .hostcoresoverheadlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="hostcoresoverhead"
              name="hostcoresoverhead" data-toggle="tooltip" title='{{ .hostcoresoverheadtooltip }}'>
              {{range $key, $value := .hostcoresoverhead}}
              <option value="{{ $value }}" {{ if (eq $value $.hostcoresoverheadselected) }}selected{{ end }}>
                {{ $key }}
              </option>
              {{end}}
            </select>
            </div>
          </div>
        </div>

        <p style="display:inline" class="lead">Storage</p>

        <div class="container-fluid container-input form-group">
          <div class="row top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .storagecapacityoverheadlabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="storagecapacityoverhead"
                name="storagecapacityoverhead" data-toggle="tooltip" title='{{ .storagecapacityoverheadtooltip }}'>
                {{range $key, $value := .storagecapacityoverhead}}
                <option value="{{ $value }}" {{ if (eq $value $.storagecapacityoverheadselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col">
              <label class="col-form-label" for="storagedatastorevmcount">{{ .storagedatastorevmcountlabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="storagedatastorevmcount" name="storagedatastorevmcount"
                data-toggle="tooltip" title='{{ .storagedatastorevmcounttooltip }}' maxlength="4"
                value="{{ .storagedatastorevmcountselected }}" />
            </div>
          </div>

          <div class="row top-buffer">
            <div class="col">
              <label class="col-form-label" for="storagededuperatio">{{ .storagededuperatiolabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="storagededuperatio"
              name="storagededuperatio" data-toggle="tooltip" title='{{ .storagededuperatiotooltip }}'>
              {{range $key, $value := .storagededuperatio}}
              <option value="{{ $value }}" {{ if (eq $value $.storagededuperatioselected) }}selected{{ end }}>
                {{ $key }}
              </option>
              {{end}}
            </select>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageraidtypelabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="storageraidtype"
                name="storageraidtype">
                {{range $key, $value := .storageraidtype}}
                <option value="{{ $value }}" {{ if (eq $value $.storageraidtypeselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>
          </div>

          <div class="row top-buffer bottom-buffer">
            <div class="col">
              <label class="col-form-label" for="storageconcurrentbootvmcount">{{ .storageconcurrentbootvmcountlabel }}</label>
            </div>            
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon" id="storageconcurrentbootvmcount"
                name="storageconcurrentbootvmcount">
                {{range $key, $value := .storageconcurrentbootvmcount}}
                <option value="{{ $value }}" {{ if (eq $value $.storageconcurrentbootvmcountselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>
            <div class="col"></div>
            <div class="col"></div>
          </div>
        </div>

        <p style="display:inline" class="lead">Virtualization</p>

        <div class="container-fluid container-input form-group">
          <div class="row top-buffer bottom-buffer">
            <div class="col">
              <label class="col-form-label">{{ .virtualizationclusterhostsizelabel }}</label>
            </div>
            <div class="col">
              <select class="form-control form-control-sm dropdown-addon"
                id="virtualizationclusterhostsize" name="virtualizationclusterhostsize" data-toggle="tooltip"
                title='{{ .virtualizationclusterhostsizetooltip }}'>
                {{range $key, $value := .virtualizationclusterhostsize}}
                <option value="{{ $value }}"
                  {{ if (eq $value $.virtualizationclusterhostsizeselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>

            <div class="col">
              <label class="col-form-label">{{ .virtualizationclusterhosthalabel }}</label>
            </div>
            <div class="col">
                <select class="form-control form-control-sm dropdown-addon"
                id="virtualizationclusterhostha" name="virtualizationclusterhostha" data-toggle="tooltip"
                title='{{ .virtualizationclusterhosthatooltip }}'>
                {{range $key, $value := .virtualizationclusterhostha}}
                <option value="{{ $value }}"
                  {{ if (eq $value $.virtualizationclusterhosthaselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </div>              

            <div class="col">
              <label class="col-form-label" for="virtualizationmanagementservertvmcount">{{ .virtualizationmanagementservertvmcountlabel }}</label>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="virtualizationmanagementservertvmcount"
                name="virtualizationmanagementservertvmcount" data-toggle="tooltip"
                title='{{ .virtualizationmanagementservertvmcounttooltip }}' maxlength="5"
                value="{{ .virtualizationmanagementservertvmcountselected }}" />
            </div>
          </div>
        </div>

        <p style="display:inline" class="lead">Results</p>

        <div class="container-fluid container-result">
          <div class="row align-items-center top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .hostresultscountlabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-hostresults">{{ .hostresultscount }}</label>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageresultscapacitylabel }}</label>
            </div>
            <div class="col  div-results">
              <label class="col-form-label label-storageresults">{{ .storageresultscapacity }}</label>
            </div>
          </div>

          <div class="row align-items-center top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .hostresultsclockusedlabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-hostresults">{{ .hostresultsclockused }}</label>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageresultsdatastoresizelabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-storageresults">{{ .storageresultsdatastoresize }}</label>
            </div>
          </div>

          <div class="row align-items-center top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .hostresultsvmcountlabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-hostresults">{{ .hostresultsvmcount }}</label>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageresultsdatastorecountlabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-storageresults">{{ .storageresultsdatastorecount }}</label>
            </div>
          </div>

          <div class="row align-items-center top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .hostresultsmemorylabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-hostresults">{{ .hostresultsmemory }}</label>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageresultsdatastorefroentendiopslabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-storageresults">{{ .storagedatastorefroentendiops }}</label>
            </div>
          </div>

          <div class="row align-items-center top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .virtualizationresultsclustercountlabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-virtualizationresults">{{ .virtualizationresultsclustercount }}</label>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageresultsdatastorebackendiopslabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-storageresults">{{ .storagedatastorebackendiops }}</label>
            </div>
          </div>

          <div class="row align-items-center top-buffer">
            <div class="col">
              <label class="col-form-label">{{ .virtualizationresultsmanagementservercountlabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-virtualizationresults">{{ .virtualizationresultsmanagementservercount }}</label>
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageresultsfrontendiopslabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-storageresults">{{ .storageresultsfrontendiops }}</label>
            </div>
          </div>

          <div class="row align-items-center top-buffer bottom-buffer">
            <div class="col">
            </div>
            <div class="col">
            </div>
            <div class="col">
              <label class="col-form-label">{{ .storageresultsbackendiopslabel }}</label>
            </div>
            <div class="col div-results">
              <label class="col-form-label label-storageresults">{{ .storageresultsbackendiops }}</label>
            </div>
          </div>
        </div>
        <br>

        <!-- Load and save -->
        <div class="container d-print-none">
          <div class="row">
            <div class="col input-group input-group-sm">
              <select class="form-control form-control-sm" style="width: 250px;" id="usersaves" name="usersaves"
                onchange="document.getElementById('submitselect').value='usersaves';this.form.submit()">
                {{range $key, $value := .usersaves}}
                <option value="{{ $value }}">{{ $key }}</option>
                {{end}}
              </select>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary btn-primary-addon" id="load" name="load"
                onclick="document.getElementById('submitselect').value='load';this.form.submit()">{{ .load }}</button>
            </div>
            <div class="col input-group input-group-sm">
              <input type="text" class="form-control" id="savename" name="savename" maxlength="30" value="" placeholder="Your save name"/>
            </div>
            <div class="col-md-auto">
              <button type="button" class="btn btn-primary btn-primary-addon" id="save" name="save"
                onclick="document.getElementById('submitselect').value='save';this.form.submit()">{{ .save }}</button>
            </div>
          </div>
        </div>

        <br><br>

        <!-- Buttons -->
        <div class="container-fluid d-print-none">
          <div class="row">
            <button type="button" class="btn btn-primary btn-primary-addon" id="update" name="update"
              onclick="document.getElementById('submitselect').value='update';this.form.submit()">{{ .update }}</button>
            <button type="button" class="btn btn-primary btn-primary-addon" id="print" name="print"
              onclick="window.print();return false;">{{ .print }}</button>
            <button type="button" class="btn btn-primary btn-primary-addon" id="about" name="about"
              onclick="document.getElementById('submitselect').value='about';this.form.submit()">{{ .about }}</button>
            <button target="_blank" type="button" class="btn btn-primary btn-primary-addon" id="guide" name="guide"
              onclick="window.open('http://myvirtualcloud.net/vdi-calculator-guide/'),document.getElementById('submitselect').value='guide';this.form.submit()">{{ .guide }}</button>
            <button type="button" class="btn btn-primary btn-primary-addon" id="statistics" name="statistics"
              onclick="document.getElementById('submitselect').value='statistics';this.form.submit()">{{ .statistics }}</button>
            <div class="col-md-auto">
              <label class="bbadge badge-danger badge-danger-addon" id="errorresults"
                name="errorresults">{{ .errorresults }}</label>
            </div>
          </div>
        </div>

      </form>
    </div>

    <div class="container-fluid d-print-none">
      <div class="row">
        <div class="col" style="text-align: right;">
          <a href="mailto:ableibovici@gmail.com?&subject=Bug%20Report">Report a Bug</a>
        </div>
      </div>
    </div>

    <br><br><br>

    <div class="container-fluid d-print-none">
      <p class="text-center">(myvirtualcloud.net) 2020. All Rights Reserved.</p>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
      integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
      integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
      crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>

  </body>

</html>