<!DOCTYPE html>
<html>

  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DNDQC1YRBV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());

      gtag('config', 'G-DNDQC1YRBV');
    </script>

    <meta charset="utf-8" />
    <title>{{ .title }}</title>
    <link rel="stylesheet" href="../static/stylesheets/vdicalc.css" />
  </head>

  <body>
    <div style="border-bottom:1px;">
      <h1 style="text-align:center;">{{ .title }}</h1>
      <h4 style="text-align:center;">{{ .titlesub }}</h4>
    </div>

    <div>
      <form method="POST" action="/">
        <input type="hidden" name="submitselect" value="" id="submitselect">
        <table class="blueTable">
          <thead></thead>
          <div>
            <tr>
              <td>
                <label>{{ .vmprofilelabel }}</label>
                <select id="vmprofile" name="vmprofile"
                  onchange="document.getElementById('submitselect').value='vmprofile';this.form.submit()">
                  {{range $key, $value := .vmprofile}}
                  <option value="{{ $value }}" {{ if (eq $value $.vmprofileselected) }}selected{{ end }}>{{ $key }}
                  </option>
                  {{end}}
                </select>
                <br></br>
              </td>
            </tr>
            <tr>
              <td>
                <label>{{ .vmcountlabel }}</label>
              </td>
              <td>
                <input id="vmcount" name="vmcount" size="5" maxlength="5" value="{{ .vmcountselected }}" />
              </td>
              <td>
                <label>{{ .vmvcpucountlabel }}</label>
              </td>
              <td style="text-align:left">
                <select id="vmvcpucount" name="vmvcpucount">
                  {{range $key, $value := .vmvcpucount}}
                  <option value="{{ $value }}" {{ if (eq $value $.vmvcpucountselected) }}selected{{ end }}>
                    {{ $key }}
                  </option>
                  {{end}}
                </select>
              </td>
              <td>
                <label>{{ .vmvcpumhzlabel }}</label>
              </td>
              <td>
                <input id="vmvcpumhz" name="vmvcpumhz" size="5" maxlength="5" value="{{ .vmvcpumhzselected }}" />
              </td>
            </tr>
            <tr>
              <td>
                <label>{{ .vmpercorecountlabel }}</label>
              </td>
              <td>
                <select id="vmpercorecount" name="vmpercorecount">
                  {{range $key, $value := .vmpercorecount}}
                  <option value="{{ $value }}" {{ if (eq $value $.vmpercorecountselected) }}selected{{ end }}>{{ $key }}
                  </option>
                  {{end}}
                </select>
              </td>
              <td>
                <label>{{ .vmvideoramlabel }}</label>
              </td>
              <td>
                <select id="vmvideoram" name="vmvideoram">
                  {{range $key, $value := .vmvideoram}}
                  <option value="{{ $value }}" {{ if (eq $value $.vmvideoramselected) }}selected{{ end }}>{{ $key }}
                  </option>
                  {{end}}
                </select>
              </td>
              <td>
                <label>{{ .vmdisksizelabel }}</label>
              </td>
              <td>
                <input id="vmdisksize" name="vmdisksize" size="4" maxlength="4" value="{{ .vmdisksizeselected }}" />
              </td>
            </tr>
            <tr>
              <td>
                <label>{{ .vmmemorysizelabel }}</label>
              </td>
              <td>
                <input id="vmmemorysize" name="vmmemorysize" type="text" size="5" maxlength="5"
                  value="{{ .vmmemorysizeselected }}" />
              </td>
              <td>
                <label>{{ .vmdisplaycountlabel }}</label>
              </td>
              <td>
                <select id="vmdisplaycount" name="vmdisplaycount">
                  {{range $key, $value := .vmdisplaycount}}
                  <option value="{{ $value }}" {{ if (eq $value $.vmdisplaycountselected) }}selected{{ end }}>{{ $key }}
                  </option>
                  {{end}}
                </select>
              </td>
              <td>
                <label>{{ .vmdisplayresolutionlabel }}</label>
              </td>
              <td>
                <select id="vmdisplayresolution" name="vmdisplayresolution">
                  {{range $key, $value := .vmdisplayresolution}}
                  <option value="{{ $value }}" {{ if (eq $value $.vmdisplayresolutionselected) }}selected{{ end }}>
                    {{ $key }}
                  </option>
                  {{end}}
                </select>
              </td>
            </tr>
            <tr>
              <td>
                <label>{{ .vmiopscountlabel }}</label>
              </td>
              <td>
                <input id="vmiopscount" name="vmiopscount" type="text" size="3" maxlength="3"
                  value="{{ .vmiopscountselected }}" />
              </td>
              <td>
                <label>{{ .vmiopsreadratiolabel }}</label>
              </td>
              <td>
                <input id="vmiopsreadratio" name="vmiopsreadratio" type="text" size="3" maxlength="3"
                  value="{{ .vmiopsreadratioselected }}" />
              </td>
            </tr>
          </div>
          <tfoot></tfoot>
        </table>

        <table class="blueTable">
          <thead>Host</thead>
          <tr>
            <td>
              <label>{{ .hostsocketcountlabel }}</label>
            </td>
            <td>
              <select id="hostsocketcount" name="hostsocketcount">
                {{range $key, $value := .hostsocketcount}}
                <option value="{{ $value }}" {{ if (eq $value $.hostsocketcountselected) }}selected{{ end }}>{{ $key }}
                </option>
                {{end}}
              </select>
            </td>
            <td>
              <label>{{ .hostmemoryoverheadlabel }}</label>
            </td>
            <td>
              <input id="hostmemoryoverhead" name="hostmemoryoverhead" type="text" size="3" maxlength="3"
                value="{{ .hostmemoryoverheadselected }}" />
            </td>
          </tr>
          <tr>
            <td>
              <label>{{ .hostsocketcorescountlabel }}</label>
            </td>
            <td>
              <select id="hostsocketcorescount" name="hostsocketcorescount">
                {{range $key, $value := .hostsocketcorescount}}
                <option value="{{ $value }}" {{ if (eq $value $.hostsocketcorescountselected) }}selected{{ end }}>
                  {{ $key }}
                </option>
                {{end}}
              </select>
            </td>
            <td>
              <label>{{ .hostcoresoverheadlabel }}</label>
            </td>
            <td>
              <input id="hostcoresoverhead" name="hostcoresoverhead" type="text" size="3" maxlength="2"
                value="{{ .hostcoresoverheadselected }}" />
            </td>
          </tr>
          <tfoot></tfoot>
        </table>

        <table class="blueTable">
          <thead>Storage</thead>
          <div>
            <tr>
              <td>
                <label>{{ .storagecapacityoverheadlabel }}</label>
              </td>
              <td>
                <select id="storagecapacityoverhead" name="storagecapacityoverhead">
                  {{range $key, $value := .storagecapacityoverhead}}
                  <option value="{{ $value }}" {{ if (eq $value $.storagecapacityoverheadselected) }}selected{{ end }}>
                    {{ $key }}
                  </option>
                  {{end}}
                </select>
              </td>
              <td>
                <label>{{ .storagedatastorevmcountlabel }}</label>
              </td>
              <td>
                <input id="storagedatastorevmcount" name="storagedatastorevmcount" type="text" size="3" maxlength="3"
                  value="{{ .storagedatastorevmcountselected }}" />
              </td>
            </tr>
            <tr>
              <td>
                <label>{{ .storagededuperatiolabel }}</label>
              </td>
              <td>
                <input id="storagededuperatio" name="storagededuperatio" type="text" size="3" maxlength="2"
                  value="{{ .storagededuperatioselected }}" />
              </td>
              <td>
                <label>{{ .storageraidtypelabel }}</label>
              </td>
              <td>
                <select id="storageraidtype" name="storageraidtype">
                  {{range $key, $value := .storageraidtype}}
                  <option value="{{ $value }}" {{ if (eq $value $.storageraidtypeselected) }}selected{{ end }}>
                    {{ $key }}
                  </option>
                  {{end}}
                </select>
              </td>
            </tr>
          </div>
          <tfoot></tfoot>
        </table>

        <table class="greyTable">
          <thead>Results</thead>
          <div>
            <tr>
              <td>
                <label>{{ .hostresultscountlabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .hostresultscount }}</label>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
              <td>
                <label>{{ .storageresultscapacitylabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .storageresultscapacity }}</label>
                    </td>
                  </tr>
                </table>
              </td>
            <tr>
              <td>
                <label>{{ .hostresultsclockusedlabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .hostresultsclockused }}</label>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
              <td>
                <label>{{ .storageresultsdatastoresizelabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .storageresultsdatastoresize }}</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <label>{{ .hostresultsvmcountlabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .hostresultsvmcount }}</label>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
              <td>
                <label>{{ .storageresultsdatastorecountlabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .storageresultsdatastorecount }}</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <label>{{ .hostresultsmemorylabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .hostresultsmemory }}</label>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
              <td>
                <label>{{ .storageresultsdatastorefroentendiopslabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .storagedatastorefroentendiops }}</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <label></label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label></label>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
              <td>
                <label>{{ .storageresultsdatastorebackendiopslabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .storagedatastorebackendiops }}</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <label></label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label></label>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
              <td>
                <label>{{ .storageresultsfrontendiopslabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .storageresultsfrontendiops }}</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td>
                <label></label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label></label>
                    </td>
                  </tr>
                </table>
              </td>
              <td></td>
              <td>
                <label>{{ .storageresultsbackendiopslabel }}</label>
              </td>
              <td>
                <table class="darkGreyTable">
                  <tr>
                    <td>
                      <label>{{ .storageresultsbackendiops }}</label>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </div>
          <tfoot></tfoot>
        </table>

        <p></p>
        <div>
          <button class="blueButton" id="update" name="update"
            onclick="document.getElementById('submitselect').value='update';this.form.submit()">{{ .update }}</button>
          <button class="blueButton" id="print" name="print"
            onclick="window.print();return false;">{{ .print }}</button>
          <button class="blueButton" id="about" name="about"
            onclick="document.getElementById('submitselect').value='about';this.form.submit()">{{ .about }}</button>
        </div>
      </form>
    </div>
    <div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick" />
        <input type="hidden" name="hosted_button_id" value="E5JJ2WDUV887C" />
        <input type="image" align="right" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit"
          title="PayPal - The safer, easier way to pay online!" alt="Donate with PayPal button" />
        <img alt="" border="0" src="https://www.paypal.com/en_NZ/i/scr/pixel.gif" width="1" height="1" />
      </form>
    </div>
  </body>

</html>