<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="../static/stylesheets/vdicalc.css" />
  </head>

  <body>
    <div align="center">
      <select style="width: 200px" name="load_listbox" size="5">
        <option value="option1">Option1</option>
        <option value="option2">Option2</option>
        <option value="Option3">Option3</option>
      </select>
    </div>
    <br /><br /><br />
    <div>
      <button class="blueButton" id="load" name="load" onclick="">Load</button>
      <button class="blueButton" id="close" name="close" onclick="closeWin()">
        Close
      </button>
      <script>
        function closeWin() {
          window.opener = self;
          window.close();
        }
      </script>
    </div>
  </body>
</html>
